.TableHead {
    background-color: #8cabe0; /* Set the background color */
    color: #333; /* Set the text color */
    font-weight: bold; /* Add bold font weight to make it more prominent */
  }

  /* WeeklyReport.css */

/* Style for table header cells */
.table-header-cell {
    background-color: #f0f0f0;
    color: #333;
  }
  
  /* Style for the status cell */
  .status-cell {
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  /* Style for the "Approve" button */
  .approve-button {
    background-color: green;
    color: white;
  }
  
  /* Style for the "Reject" button */
  .reject-button {
    background-color: red;
    color: white;
  }
  