.TableHead {
    background-color: #8cabe0; 
    color: #333; 
    font-weight: bold;
  }

 
.table-header-cell {
    background-color: #f0f0f0;
    color: #333;
  }
  
 
  .status-cell {
    padding: 5px 10px;
    border-radius: 5px;
  }
  
 
  .approve-button {
    background-color: green;
    color: white;
  }
  

  .reject-button {
    background-color: red;
    color: white;
  }
  